{% block content %}
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	    <a href="{{ url_for('akun')}}">Akun</a>
	  </li>
<!-- 	  <li class="breadcrumb-item active">My Dashboard</li> -->
	</ol>
  <form class="form-inline">
    <input class="form-control mr-2 mb-2 ml-auto" type="search" placeholder="Search" aria-label="Search">
    <div class="mb-2">
      
      <button class="btn btn-outline-warning" type="submit">Cari</button>
      <button type="button" class="btn btn-outline-success" type="submit" data-toggle="modal" data-target="#TambahDataAkun">Tambah</button>
    </div>
    
  </form>
  
	<div data-spy="scroll" data-offset="0">
		<div class="table-responsive">
			<table class="table table-hover">
		      <thead class="thead-dark">
		        <tr>
		          <th scope="col">No</th>
		          <th scope="col">Kode</th>
		          <th scope="col">Nama</th>
		          <th scope="col">Username</th>
		          <th class="text-center" scope="col">Aksi</th>
		        </tr>
		      </thead>
		      <tbody>
		      	{% for akun in akuns%}
		        <tr>
		          <th scope="row">{{ loop.index }}</th>
		          <td>{{ akun.kode }}</td>
		          <td>{{ akun.nama}}</td>
		          <td>{{ akun.username}}</td>
		          <td nowrap align="center">
	                <button type="button" class="btn btn-success btn-sm"
	                onclick="tampilAkun('{{ akun.kode }}');">
	                    <i class="fa fa-edit"></i> Edit
	                </button>
	                <button type="button" class="btn btn-danger btn-sm" onclick="tampilHapusAkun('{{ akun.kode }}');">
	                    <i class="fa fa-trash"></i> Hapus 
	                </button>
	              </td>
		        </tr>
		        {% endfor %}
		      </tbody>
		    </table>
		</div>
	</div>

	<!-- modal insert dan update -->
	<div class="modal fade" id="TambahDataAkun" tabindex="-1" role="dialog" aria-labelledby="modalTambahData" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="modalTambahData">Form Data Akun</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-body">
	          <form>
	          	<input type="hidden" id="aksi" value="tambah">
	            <div class="form-group row">
	              <label for="kodePegawai" class="col-sm-2 col-form-label">Kode</label>
	              <div class="col-sm-10">
	                <input type="text" class="form-control" id="kodePegawai" placeholder="Masukkan Kode" required="yes" autocomplete="off">
	              </div>
	            </div>
	            <div class="form-group row">
	              <label for="namaPegawai" class="col-sm-2 col-form-label">Nama</label>
	              <div class="col-sm-10">
	                <input type="text" class="form-control" id="namaPegawai" placeholder="Masukkan Nama"  required="yes" autocomplete="off">
	              </div>
	            </div>
	            <div class="form-group row">
	              <label for="username" class="col-sm-2 col-form-label">Username</label>
	              <div class="col-sm-10">
	                <input type="text" class="form-control" id="username" placeholder="Masukkan Username" required="yes" autocomplete="off">
	              </div>
	            </div>
	            <div class="form-group row">
	              <label for="password" class="col-sm-2 col-form-label">Password</label>
	              <div class="col-sm-10">
	                <input type="password" class="form-control" id="password" placeholder="Masukkan Password" required="yes" autocomplete="off">
	              </div>
	            </div>
	          </form>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
	          <button type="button" class="btn btn-primary" onclick="tambahAkun();">Simpan</button>
	        </div>
	      </div>
	    </div>
	  </div>

	  	<!-- modal delete -->
  		<div class="modal fade" id="HapusDataAkun" tabindex="-1" role="dialog" aria-labelledby="DialogModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-danger">
                        <h5 class="modal-title" id="ModalLabel01">
                            Hapus Data Akun
                        </h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="color: red; font-size: larger;text-align: center">Yakin menghapus data berikut..?</p>
                        <h3 id="namaAkun" name="nama" style="text-align: center; color: #d9534f"></h3>
                        <form id="form-userdel">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="hidden" id="aksihapus" value="hapus">
                                        <input type="hidden" name="userid" id="userid">
                                    </div>                                    
                                </div>
                            </div>        
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button onclick="hapusAkun();" class="btn btn-danger" type="button" data-dismiss="modal">
                            Delete
                        </button>
                        <button class="btn btn-info" type="button" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>


<script>
	function hapusAkun(){
		var aksi = $('#aksihapus').val();
		var kode = $('#userid').val()
		$.ajax({
			type:"POST",
			url: "{{ url_for('akunPegawai')}}",
			data:{
				aksi:aksi,
				kode:kode
			},
			cache: false,
			dataType: "JSON",
			success:function(data){
				$('#HapusDataAkun').modal('hide');
			}
		});
	}
	function tampilHapusAkun(kode) {
		$.ajax({
			type:'POST',
			url: "http://127.0.0.1:5000/pegawai/getdata",
			data:{
				kode:kode,
			},
			cache: false,
			dataType: 'json',
			success:function(data){
				$('#userid').val(data.kode);
				$('#namaAkun').text(data.nama);
				$('#HapusDataAkun').modal('show');
			}
		});
	}

	function tampilAkun(kode) {
		$.ajax({
			type:'POST',
			url: "http://127.0.0.1:5000/pegawai/getdata",
			data:{
				kode:kode,
			},
			cache: false,
			dataType: 'json',
			success:function(data){
				$('#aksi').val('edit');
				$('#kodePegawai').val(data.kode);
				$('#namaPegawai').val(data.nama);
				$('#username').val(data.username);
				$('#password').val(data.password);
				$('#TambahDataAkun').modal('show');
			}
		});
	}
	function tambahAkun() {
		var aksi = $('#aksi').val();
		var kode = $('#kodePegawai').val();
		var nama = $('#namaPegawai').val();
		var username = $('#username').val();
		var password = $('#password').val();
		if(kode == '' || nama== '' || username == '' || password == ''){
			alert('data belum lengkap');
		}else{
			$.ajax({
				type:'POST',
				url: "{{url_for('akunPegawai')}}",
				data:{
					aksi:aksi,
					kode:kode,
					nama:nama,
					username:username,
					password:password
				},
				cache: false,
				dataType:'json',
				success:function(data){
					alert(data.result);
					$('#TambahDataAkun').modal('hide');
					$('#content').html(data.pegawai);
				}
			});
		}
	}
</script>
{% endblock%}